@media only screen and (max-width: 640px) {
    /* Navbar starts*/
    .navbar {
        padding: 20px 15px;
        height: 90px;
    }

    /* Navbar Logo */
    .navbar-logo-img {
        width: 90%;
        height: auto;
    }
    /* Navbar Logo */

    
    /* Navbar Menu */
    .navbar-menu {
        display: none;
    }
    /* Navbar Menu */
    
    
    /* Navbar SignIn */
    .navbar-signin {
        display: none;
    }
    /* Navbar SignIn */
    
    .navbar-phnIcon {
        display: block;
    }
    .iconify {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
    }
    /* Navbar-phnIcon */
    
    /* Navbar ends*/
}