@media only screen and (max-width: 1024px) {

    /* Navbar starts*/
    .navbar {
        padding: 30px 20px;
        height: 100px;
    }
    
    /* Navbar Menu */
    .navbar-menu-options {
        gap: 15px;
    }
    /* Navbar Menu */
    
    
    /* Navbar SignIn */
    .navbar-signin {
        gap: 15px;
    }
    /* Navbar SignIn */


    /* Navbar ends*/
    }